.stickynote {
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,.1);
    position: absolute;
    background-color: white;
    textarea {
        border: 0;
        padding: 1.1rem;
    }
    &:hover {
        box-shadow: 2px 2px 10px 1px rgba(0,0,0,.2);
    }
    &__header {
        height: 32px;
        width: 100%;
        background-color: rgba(0,0,0,.1);
        cursor: move;
    }
    &__close {
        position: absolute;
        top: 6px;
        right: 12px;
        cursor: pointer;
    }
}